.carousel-inner{
    width: 100%;
    max-height: 1111px !important;
}

.icon-box{
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align:'center';
    animation-delay:'200ms'
}

.contacts {
    display: flex;
    align-items: center;
}

.nombre {
    color: white;
    font-family: system-ui;
    margin-left: auto;
}

/* .html {
    background-color: black;
} */